body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(images/index_header_bkgrnd.png);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: 100% 100%;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 75%;
   text-align: left;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
.headerMenu .hide 
{
   display: none!important;
}
.headerMenu .show 
{
   display: block!important;
}
.headerMenu .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.headerMenu .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   color: #CC4E8A;
   text-align: left;
}
#headerMenu, .headerMenu .nav, .headerMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.headerMenu .nav:before,
.headerMenu .nav:after 
{
   content: " ";
   display: table;
}
.headerMenu .nav:after 
{
   clear: both;
}
.headerMenu .nav a 
{
   text-decoration: none;
}
.headerMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 10px;
}
.headerMenu .nav ul ul
{
   margin-bottom: 0;
}
.headerMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.headerMenu .container:before,
.headerMenu .container:after 
{
   content: " ";
   display: table;
}
.headerMenu .container:after 
{
   clear: both;
}
.headerMenu .collapse 
{
   display: none;
}
.headerMenu .collapse.in 
{
   display: block;
}
.headerMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.headerMenu .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.headerMenu .dropdown 
{
   position: relative;
}
.headerMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.headerMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: #F5CDE1;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.headerMenu .dropdown-menu .divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.headerMenu .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #CC4E8A;
   white-space: nowrap;
}
.headerMenu .dropdown-menu>li>a:hover,
.headerMenu .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #FFFFFF;
   background-color: #A51259;
   background-image: none;
}
.headerMenu .dropdown-menu>.active>a,
.headerMenu .dropdown-menu>.active>a:hover,
.headerMenu .dropdown-menu>.active>a:focus 
{
   color: #fff;
   text-decoration: none;
   outline: 0;
   background-color: #343A40;
}
.headerMenu .open>.dropdown-menu 
{
   display: block;
}
.headerMenu .open>a 
{
   outline: 0;
}
.headerMenu .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.headerMenu .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.headerMenu .nav>li 
{
   position: relative;
   display: block;
}
.headerMenu .nav>li>a 
{
   position: relative;
   display: block;
   padding: 15px 15px 15px 15px;
}
.headerMenu .nav .open>a,
.headerMenu .nav .open>a:hover,
.headerMenu .nav .open>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.headerMenu .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.headerMenu .nav>li>a>img 
{
   max-width: none;
}
.headerMenu .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.headerMenu
{
   position: relative;
   border: 1px solid transparent;
   background-color: transparent;
   background-image: none;
}
.headerMenu:before,
.headerMenu:after 
{
   content: " ";
   display: table;
}
.headerMenu:after 
{
   clear: both;
}
.headerMenu .navbar-header:before,
.headerMenu .navbar-header:after 
{
   content: " ";
   display: table;
}
.headerMenu .navbar-header:after 
{
   clear: both;
}
.headerMenu-navbar-collapse 
{
   max-height: 340px;
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.headerMenu-navbar-collapse:before,
.headerMenu-navbar-collapse:after 
{
   content: " ";
   display: table;
}
.headerMenu-navbar-collapse:after 
{
   clear: both;
}
.headerMenu-navbar-collapse.in 
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 16px 10px 15px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.headerMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.headerMenu .navbar-toggle .icon-bar+.icon-bar 
{
   margin-top: 4px;
}
.headerMenu .navbar-nav 
{
   margin: 6px -15px;
}
.headerMenu .navbar-nav>li>.dropdown-menu 
{
   margin-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
.headerMenu .navbar-nav>li>a 
{
   color: #CC4E8A;
}
.headerMenu .navbar-nav>li>a:hover,
.headerMenu .navbar-nav>li>a:focus 
{
   background-color: #A51259;
   background-image: none;
   color: #FFFFFF;
   text-decoration: none;
}
.headerMenu .navbar-nav>.active>a,
.headerMenu .navbar-nav>.active>a:hover,
.headerMenu .navbar-nav>.active>a:focus 
{
   color: #FFFFFF;
   background-color: #A51259;
   background-image: none;
}
.headerMenu .navbar-toggle 
{
   border: 1px solid rgba(204,78,138,0.10);
}
.headerMenu .navbar-toggle:hover,
.headerMenu .navbar-toggle:focus 
{
   background-color: transparent;
}
.headerMenu .navbar-toggle .icon-bar 
{
   background-color: #A51259;
}
.headerMenu-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret,
.headerMenu .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav>.open>a,
.headerMenu .navbar-nav>.open>a:hover,
.headerMenu .navbar-nav>.open>a:focus 
{
   background-color: #A51259;
   background-image: none;
   color: #FFFFFF;
}
.headerMenu .navbar-nav>.open>a .caret,
.headerMenu .navbar-nav>.open>a:hover .caret,
.headerMenu .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav>.dropdown>a .caret 
{
   border-top-color: #CC4E8A;
   border-bottom-color: #CC4E8A;
}
.headerMenu .navbar-link 
{
   color: #CC4E8A;
}
.headerMenu .navbar-link:hover 
{
   color: #FFFFFF;
}
.headerMenu .navbar-header
{
   color: #A51259;
   height: 48px;
}
@media (min-width: 480px) 
{
.headerMenu .navbar-right .dropdown-menu 
{
   right: 0;
   left: auto;
}
.headerMenu .navbar-header 
{
   float: left;
}
.headerMenu-navbar-collapse 
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.headerMenu-navbar-collapse.collapse 
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.headerMenu-navbar-collapse.in 
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle
{
   display: none;
}
.headerMenu .navbar-nav 
{
   float: right;
   margin: 0;
}
.headerMenu .navbar-nav>li 
{
   float: left;
}
.headerMenu .container>.navbar-header,
.headerMenu .container>.headerMenu-navbar-collapse 
{
   margin-right: 0;
   margin-left: 0;
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret,
.headerMenu .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 480px) 
{
.headerMenu 
{
   border-color: rgba(255,255,255,0.00);
}
.headerMenu .navbar-nav 
{
   margin: 0;
   background-color: #F5CDE1;
   background-image: none;
}
.headerMenu .navbar-nav .open .dropdown-menu 
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.headerMenu .navbar-nav .open .dropdown-menu>li>a,
.headerMenu .navbar-nav .open .dropdown-menu .dropdown-header 
{
   padding: 5px 15px 5px 25px;
}
.headerMenu .navbar-nav .open .dropdown-menu>li>a 
{
   line-height: 20px;
}
.headerMenu .navbar-nav .open .dropdown-menu>li>a:hover,
.headerMenu .navbar-nav .open .dropdown-menu>li>a:focus 
{
   background-image: none;
}
}
@media (min-width: 480px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border-color: rgba(255,255,255,0.00);
   border-radius: 0px;
}
.headerMenu .navbar-nav>li>a 
{
   color: #A51259;
}
.headerMenu .navbar-nav>li>a:hover,
.headerMenu .navbar-nav>li>a:focus 
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav>.active>a,
.headerMenu .navbar-nav>.active>a:hover,
.headerMenu .navbar-nav>.active>a:focus 
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav>.open>a,
.headerMenu .navbar-nav>.open>a:hover,
.headerMenu .navbar-nav>.open>a:focus 
{
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav>.dropdown>a .caret
{
   border-top-color: #A51259;
   border-bottom-color: #A51259;
}
.headerMenu .navbar-nav > li.active > a > .caret,
.headerMenu .navbar-nav > li.active > a:hover > .caret,
.headerMenu .navbar-nav > li.active > a:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav>.open>a .caret,
.headerMenu .navbar-nav>.open>a:hover .caret,
.headerMenu .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-link 
{
   color: #A51259;
}
.headerMenu .navbar-link:hover 
{
   color: #fff;
}
}
#wb_home
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: url(images/MAS.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#home
{
   box-sizing: border-box;
   height: 100vh;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 100px 0px 100px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#home > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#home > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#home > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: center;
   align-self: center;
   text-align: center;
}
@media (max-width: 480px)
{
#home > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#home-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(to top, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
}
#wb_tips
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#tips
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#tips .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#tips > .row > .col-1, #tips > .row > .col-2, #tips > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#tips > .row > .col-1, #tips > .row > .col-2, #tips > .row > .col-3
{
   float: left;
}
#tips > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#tips > .row > .col-1 > .col-1-padding
{
   padding: 25px 0px 25px 0px;
}
#tips > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#tips > .row > .col-2 > .col-2-padding
{
   padding: 25px 0px 25px 0px;
}
#tips > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#tips > .row > .col-3 > .col-3-padding
{
   padding: 25px 0px 25px 0px;
}
#tips:before,
#tips:after,
#tips .row:before,
#tips .row:after
{
   display: table;
   content: " ";
}
#tips:after,
#tips .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#tips > .row > .col-1, #tips > .row > .col-2, #tips > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_tipsHeading1
{
   background-color: #FF40A0;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 16px 0px 16px 0px;
}
#tipsHeading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_services
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(images/Rariti.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#services
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 125px 0px 125px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#services > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#services > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#services > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: center;
   align-self: center;
   text-align: center;
}
@media (max-width: 480px)
{
#services > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#services-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(to bottom, #FFFFFF 0%, rgba(255,255,255,0.00) 50%, rgba(255,255,255,0.00) 50%, #FFFFFF 100%);
}
#wb_service-text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_service-text div
{
   text-align: center;
   white-space: nowrap;
}
#wb_gallery
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(255,255,255,0.50);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#gallery
{
   box-sizing: border-box;
   padding: 80px 15px 80px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#gallery .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#gallery > .row > .col-1, #gallery > .row > .col-2, #gallery > .row > .col-3, #gallery > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#gallery > .row > .col-1, #gallery > .row > .col-2, #gallery > .row > .col-3, #gallery > .row > .col-4
{
   float: left;
}
#gallery > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#gallery > .row > .col-1 > .col-1-padding
{
   padding: 10px 0px 10px 0px;
}
#gallery > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#gallery > .row > .col-2 > .col-2-padding
{
   padding: 10px 0px 10px 0px;
}
#gallery > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#gallery > .row > .col-3 > .col-3-padding
{
   padding: 10px 0px 10px 0px;
}
#gallery > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#gallery > .row > .col-4 > .col-4-padding
{
   padding: 10px 0px 10px 0px;
}
#gallery:before,
#gallery:after,
#gallery .row:before,
#gallery .row:after
{
   display: table;
   content: " ";
}
#gallery:after,
#gallery .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#gallery > .row > .col-1, #gallery > .row > .col-2, #gallery > .row > .col-3, #gallery > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#gallery-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(255,255,255,0.50) 25%, rgba(255,255,255,0.50) 100%);
}
#wb_portfolio-image1
{
   margin: 0;
   vertical-align: top;
}
#portfolio-image1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_portfolio-image2
{
   margin: 0;
   vertical-align: top;
}
#portfolio-image2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_flowerGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FCE4EE;
   background: linear-gradient(to bottom, #FFFFFF 0%, #FCE4EE 25%, #FFFFFF 100%);
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#flowerGrid
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 75px 0px 75px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#flowerGrid > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#flowerGrid
{
   width: 994px;
}
#flowerGrid > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#flowerGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
@media (max-width: 480px)
{
#flowerGrid
{
   width: 100%;
}
#flowerGrid > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#flowerGrid-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(to bottom, rgba(252,228,238,0.00) 0%, #FCE4EE 25%, rgba(252,228,238,0.00) 100%);
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(images/rejilla.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 125px 15px 125px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#contact .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1, #contact > .row > .col-2, #contact > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1, #contact > .row > .col-2, #contact > .row > .col-3
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#contact > .row > .col-2
{
   background-color: rgba(255,255,255,0.60);
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#contact > .row > .col-2 > .col-2-padding
{
   padding: 50px 25px 50px 25px;
}
#contact > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact > .row > .col-1, #contact > .row > .col-2, #contact > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#contact-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(to top, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
}
#wb_faq
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#faq
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#faq .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#faq > .row > .col-1, #faq > .row > .col-2, #faq > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#faq > .row > .col-1, #faq > .row > .col-2, #faq > .row > .col-3
{
   float: left;
}
#faq > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#faq > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#faq > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#faq:before,
#faq:after,
#faq .row:before,
#faq .row:after
{
   display: table;
   content: " ";
}
#faq:after,
#faq .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#faq > .row > .col-1, #faq > .row > .col-2, #faq > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FF69B4;
   background: linear-gradient(to top, #FF69B4 0%, #F5F5F5 100%);
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#footer .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_footerText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_footerText
{
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
   line-height: 18px;
}
#wb_footerText div
{
   text-align: center;
   white-space: nowrap;
}
#StickyLayer
{
   background-color: #FF69B4;
   background-image: none;
   opacity: 0.77;
}
#wb_up-arrow
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #F5F5F5;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #F5F5F5;
}
#up-arrow
{
   height: 24px;
   width: 24px;
}
#up-arrow i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 14px;
}
#wb_up-arrow:hover i
{
   color: #FFFFFF;
}
#wb_contactText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 20px 0px 20px 0px;
   margin: 0;
   text-align: center;
}
#wb_contactText div
{
   text-align: center;
   white-space: nowrap;
}
#submitButton
{
   border: 1px solid #A51259;
   background-color: #FFFFFF;
   background-image: none;
   color: #A51259;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   margin: 10px 0px 50px 0px;
}
#wb_tipsImage1
{
   margin: 0;
   vertical-align: top;
}
#tipsImage1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 400px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_tipsImage2
{
   margin: 0;
   vertical-align: top;
}
#tipsImage2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 400px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_tipsHeading2
{
   background-color: #FF40A0;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 16px 0px 16px 0px;
}
#tipsHeading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_tipsImage3
{
   margin: 0;
   vertical-align: top;
}
#tipsImage3
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 400px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_tipsHeading3
{
   background-color: #FF40A0;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 16px 0px 16px 0px;
}
#tipsHeading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_faqHeading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: left;
}
#faqHeading3
{
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 27px;
   margin: 0;
   text-align: left;
}
#wb_faqHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: left;
}
#faqHeading1
{
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 27px;
   margin: 0;
   text-align: left;
}
#wb_faqMenu1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0;
}
#wb_faqMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_faqMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_faqMenu1 a
{
   display: block;
   color: #904A92;
   border: 0px #CCCCCC solid;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 12px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_faqMenu1 li:hover a, #wb_faqMenu1 a:hover
{
   color: #8A2BE2;
   background-color: transparent;
   background-image: none;
   border: 0px #2E6DA4 solid;
}
#wb_faqMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_faqMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_faqMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_portfolio-image3
{
   margin: 0;
   vertical-align: top;
}
#portfolio-image3
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_portfolio-image4
{
   margin: 0;
   vertical-align: top;
}
#portfolio-image4
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 301px;
   height: 301px;
   vertical-align: top;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 301px;
   height: 301px;
   vertical-align: top;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 301px;
   height: 301px;
   vertical-align: top;
}
#wb_Image8
{
   margin: 0;
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 66px;
   height: 68px;
   vertical-align: top;
}
#wb_flowerHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
}
#flowerHeading1
{
   color: #EA93BC;
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_flowerHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0px 0px 10px 0px;
}
#flowerHeading2
{
   color: #EA93BC;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#wb_Image9
{
   margin: 0;
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 218px;
   height: 55px;
   vertical-align: top;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2
{
   font-family: "Brush Script MT";
   font-weight: normal;
   font-size: 43px;
   line-height: 50px;
}
#wb_Text2 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 298px;
   height: 298px;
   vertical-align: top;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   font-family: "Brush Script MT";
   font-weight: normal;
   font-size: 37px;
   line-height: 44px;
}
#wb_Text1 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_Shape1 a img
{
   position: relative;
   left: 0;
}
#wb_Shape1 span
{
   position: absolute;
   left: 0;
}
#wb_Shape1 a .hover
{
   visibility: hidden;
}
#wb_Shape1 a:hover .hover
{
   visibility: visible;
}
#wb_Shape1 a:hover span
{
   visibility: hidden;
}
#Shape1
{
   border-width: 0;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 20px 0px 20px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_FontAwesomeIcon6
{
   background-color: #3B5999;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 4px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon6:hover
{
   background-color: #3B5999;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon6
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 8px;
}
#wb_FontAwesomeIcon6:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon7
{
   background-color: #2BC6F6;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 4px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon7:hover
{
   background-color: #2BC6F6;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon7
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon7 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 13px;
}
#wb_FontAwesomeIcon7:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon9
{
   background-color: #BD3381;
   background: linear-gradient(to top, #BD3381 0%, #EE583F 100%);
   border: 0px solid #FFFFFF;
   border-radius: 4px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon9:hover
{
   background-color: #EE583F;
   background: linear-gradient(to top, #EE583F 0%, #BD3381 100%);
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon9
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon9 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 12px;
}
#wb_FontAwesomeIcon9:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon10
{
   background-color: #DE332C;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 4px;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon10:hover
{
   background-color: #DE332C;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon10
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon10 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 12px;
}
#wb_FontAwesomeIcon10:hover i
{
   color: #FFFFFF;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 20px 0px 20px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_CssMenu4
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0;
}
#wb_CssMenu4 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu4 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 4px 0px;
   width: 100%;
}
#wb_CssMenu4 a
{
   display: block;
   color: #BDC3C8;
   border: 0px #CCCCCC solid;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 97.71%;
   height: 20px;
   padding: 0px 5px 0px 0px;
   vertical-align: middle;
   line-height: 20px;
   text-align: left;
}
#wb_CssMenu4 li:hover a, #wb_CssMenu4 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px #2E6DA4 solid;
}
#wb_CssMenu4 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu4 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu4 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#PhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 33.33333333%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
}
#PhotoGallery1 .clearfix:before,
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:before,
#PhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:after
{
   clear: both;
}
#PhotoGallery1 .visible-col3
{
   display: block;
}
#PhotoGallery2
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery2 .thumbnails
{
   margin: 0;
}
#PhotoGallery2 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 33.33333333%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery2 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
}
#PhotoGallery2 .clearfix:before,
#PhotoGallery2 .clearfix:after,
#PhotoGallery2 .thumbnails:before,
#PhotoGallery2 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery2 .clearfix:after,
#PhotoGallery2 .thumbnails:after
{
   clear: both;
}
#PhotoGallery2 .visible-col3
{
   display: block;
}
#PhotoGallery3
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery3 .thumbnails
{
   margin: 0;
}
#PhotoGallery3 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 33.33333333%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery3 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
}
#PhotoGallery3 .clearfix:before,
#PhotoGallery3 .clearfix:after,
#PhotoGallery3 .thumbnails:before,
#PhotoGallery3 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery3 .clearfix:after,
#PhotoGallery3 .thumbnails:after
{
   clear: both;
}
#PhotoGallery3 .visible-col3
{
   display: block;
}
#PhotoGallery4
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery4 .thumbnails
{
   margin: 0;
}
#PhotoGallery4 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 33.33333333%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery4 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
}
#PhotoGallery4 .clearfix:before,
#PhotoGallery4 .clearfix:after,
#PhotoGallery4 .thumbnails:before,
#PhotoGallery4 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery4 .clearfix:after,
#PhotoGallery4 .thumbnails:after
{
   clear: both;
}
#PhotoGallery4 .visible-col3
{
   display: block;
}
#Breadcrumb1
{
   padding: 10px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb1 > li
{
   display: inline-block;
   font-size: 13px;
}
#Breadcrumb1 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb1 a:hover
{
   color: #1ABC9C;
   text-decoration: underline;
}
#Breadcrumb1 > .active
{
   color: #1ABC9C;
}
#Breadcrumb1 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb1 li i
{
   font-size: 13px;
   width: 15px;
}
#Breadcrumb2
{
   padding: 8px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb2 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb2 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb2 a:hover
{
   color: #1ABC9C;
   text-decoration: underline;
}
#Breadcrumb2 > .active
{
   color: #1ABC9C;
}
#Breadcrumb2 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb2 li i
{
   font-size: 15px;
   width: 17px;
}
#Breadcrumb3
{
   padding: 8px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb3 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb3 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb3 a:hover
{
   color: #1ABC9C;
   text-decoration: underline;
}
#Breadcrumb3 > .active
{
   color: #1ABC9C;
}
#Breadcrumb3 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb3 li i
{
   font-size: 15px;
   width: 17px;
}
#wb_maps 
{
   background-color: transparent;
   background-image: url(images/mappreview.jpg);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: cover;
   border: 0px solid #000000;
   height: 202px;
   overflow-y: hidden;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_maps div
{
   text-align: center;
}
#gallery a
{
    text-decoration: none;
}
#gallery a:hover::before
{
    background: rgba(0,0,0,.7);
    border-radius: 50%;
    color: #FFFFFF;
	content: "+";
	font-family: Arial;
	font-size: 32px;
	font-weight: 100;
	height: 50px;
	left: 50%;
	line-height: 50px;
	margin-left: -25px;
	position: absolute;
	text-decoration: none;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 50px;
	z-index: 1;
}
#gallery a:hover img
{
	opacity: 0.6;
}
